{% extends "visitas/base_Visitas2.html" %}
{% block title %}Visitas{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Menu principal
          </h1>
          
          <img src="../static/imagen/casas2.jpg">

        </section>
      </div>

 {% endblock producto %}
{% endblock content %}




